.Square {
  display: inline-block;
  width: 200px;
  border-radius: 12%;
  margin: 1%;
}

.Squarepulse {
  display: inline-block;
  width: 200px;
  border-radius: 12%;
  margin: 1%;
  animation-name: pulse;
  animation-duration: 0.25s; 
  animation-timing-function: ease-out; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}